.btn-icon:not(:disabled):not(.disabled):active, .show > .btn.phx-dropdown-toggle{ color: var(--action-hover); }
.btn-light:not(:disabled):not(.disabled):active, .show > .btn.phx-dropdown-toggle{ background-color: var(--active); border-color: var(--active); }
.phx-dropdown-toggle:after{ width: 0.375rem; height: 0.375rem; vertical-align: auto; border: 1px solid currentColor; border-width: 0 0 1px 1px;
    margin: -0.125rem 0 0 0.375rem; opacity: .8; }
.btn-icon:not(:disabled):not(.disabled):active, .show > .btn.phx-dropdown-toggle{ color: #0032a5; }
.btn-light:not(:disabled):not(.disabled):active, .show > .btn.phx-dropdown-toggle{ background-color: #deecf9; border-color: #deecf9; }
.phx-dropdown-toggle:after{ width: 0.375rem; height: 0.375rem; vertical-align: auto; border: 1px solid currentColor; border-width: 0 0 1px 1px;
    margin: -0.125rem 0 0 0.375rem;  opacity: .8; }

.phx-myw-grid{ margin-right: -10px; margin-left: -10px; }
.phx-myw-grid > .col, .phx-myw-grid > [class^="col-"]{ padding-left: 10px; padding-right: 10px; }
.phx-myw-grid{ margin-right: -10px; margin-left: -10px; }
.phx-myw-grid > .col, .phx-myw-grid > [class^="col-"]{ padding-left: 10px; padding-right: 10px; }

.card {-webkit-border-radius: 0.25rem; border-radius: 0.25rem;}
.card-header{ background-color: transparent; border: 0; padding: 1rem; }
.card-body{ padding: 1rem; }